<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/cocktail_style.css" type="text/css" />
		<title>My Custom Cocktails!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../models/cocktail.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
