body {
    background-image: url("../img/drinks.jpg");
    background-color: darkred;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8% 0;
    width: 100%;
}

.main-title {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: auto;
    max-width: 1280px;
    background-color: rgba(55, 18, 156, 0.336);
    color: rgb(52, 18, 131);
    text-shadow: 1px 1px limegreen;
    font-weight: bold;
    justify-content: center;
}

.drinks-list,
.drinks-drunken,
.drink-order {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: rgba(55, 18, 156, 0.336);
    max-width: 400px;
    max-height: 400px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    color: rgb(52, 18, 131);
    text-shadow: 1px 1px limegreen;
    font-weight: bold;
    overflow: auto;
    justify-content: center;
}

.content {
    margin: auto;
    justify-content: center;
}

h1,
h2, 
h3 {
    font-family: 'cursive';
}